@import "@fontsource/montserrat";

// Fonts
$font-stack: 'Montserrat', sans-serif;

// Colors
$primary-color: #414141;
$secondary-color: #333333;
$text-color: #797979;
$bg-color: #ffffff;
$light-gray: #dddddd;